*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "DM Sans", sans-serif;
  font-style: normal;
  font-size: 12px;
  line-height: 255%;
}

.reviews__list {
  width: 100%;
  text-align: center;
  padding: 0;
}

.oo {
  background: #fafafa;
  padding: 71px 50px 20px 50px;
}

p {
  font: 12px/30px Arial;
  background-image: -webkit-repeating-linear-gradient(
    top,
    transparent 0px,
    transparent 28px,
    #e1e1e1 28px,
    transparent 30px
  );
  background-image: -moz-repeating-linear-gradient(
    top,
    transparent 0px,
    transparent 28px,
    #e1e1e1 28px,
    transparent 30px
  );
  background-image: -ms-repeating-linear-gradient(
    top,
    transparent 0px,
    transparent 28px,
    #e1e1e1 28px,
    transparent 30px
  );
  background-image: -o-repeating-linear-gradient(
    top,
    transparent 0px,
    transparent 28px,
    #e1e1e1 28px,
    transparent 30px
  );
  background-image: repeating-linear-gradient(
    top,
    transparent 0px,
    transparent 28px,
    #e1e1e1 28px,
    transparent 30px
  );
}

/*.ii {
  background-repeat: repeat-x;
  background-position: center bottom -1px;
  background-size: 100% 2px;
  background-image: linear-gradient(to right, #e1e1e1, #e1e1e1);
}*/
