/*Псевдокласи*/

.link {
  color: rgb(17, 223, 51);
}
.link:hover {
  color: tomato;
}
.link:active {
  color: blue;
}

/*Таблиця + Псевдокласи*/

.schedule-body > tr:hover {
  background-color: tomato;
  color: white;
}

.schedule {
  border-collapse: collapse;
}

.schedule th,
.schedule td {
  padding: 8px;
  border: 1px solid #248934;
}

/*Курсор*/
.auto {
  cursor: auto;
}
.default {
  cursor: default;
}
.none {
  cursor: none;
}
.context-menu {
  cursor: context-menu;
}
.help {
  cursor: help;
}
.pointer {
  cursor: pointer;
}
.progress {
  cursor: progress;
}
.wait {
  cursor: wait;
}
.cell {
  cursor: cell;
}
.crosshair {
  cursor: crosshair;
}
.text0 {
  cursor: text;
}
.vertical-text {
  cursor: vertical-text;
}
.alias {
  cursor: alias;
}
.copy {
  cursor: copy;
}
.move {
  cursor: move;
}
.no-drop {
  cursor: no-drop;
}
.not-allowed {
  cursor: not-allowed;
}
.all-scroll {
  cursor: all-scroll;
}
.col-resize {
  cursor: col-resize;
}
.row-resize {
  cursor: row-resize;
}
.n-resize {
  cursor: n-resize;
}
.e-resize {
  cursor: e-resize;
}
.s-resize {
  cursor: s-resize;
}
.w-resize {
  cursor: w-resize;
}
.ns-resize {
  cursor: ns-resize;
}
.ew-resize {
  cursor: ew-resize;
}
.ne-resize {
  cursor: ne-resize;
}
.nw-resize {
  cursor: nw-resize;
}
.se-resize {
  cursor: se-resize;
}
.sw-resize {
  cursor: sw-resize;
}
.nesw-resize {
  cursor: nesw-resize;
}
.nwse-resize {
  cursor: nwse-resize;
}

body {
  text-align: center;
  font-family: font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: rgb(48, 48, 51);
  background-color: mintcream;
}

.cursors {
  display: flex;
  flex-wrap: wrap;
}

.cursors > div {
  flex: 150px;
  padding: 10px 2px;
  white-space: nowrap;
  border: 1px solid #eee;
  border-radius: 5px;
  margin: 0 5px 5px 0;
}

.cursors > div:hover {
  background: #eee;
}

code {
  display: inline-block;
  background-color: #eee;
  padding: 4px 6px;
  border-radius: 4px;
  font-size: 32px;
}

/*Кольори, каскад стилів*/
.text-color {
  background-color: tomato;
  color: white;
}

.rgba {
  background-color: rgba(255, 0, 0, 0.3);
}
.rgba {
  color: blue;
  background-color: orange;
}

.rgba {
  color: teal;
}

.post-title {
  color: green;
}

/* Специфичность - 0 0 1 1 */
.post > h1 {
  color: red;
}

/* Специфичность - 0 0 2 0 */
.post > .post-title {
  color: orange;
}

.post {
  color: green;
}
/*текст лінки автом. не міняється. Щоб змінити його вик. inherit - копіює всі занчення родителя, currentColor - лише колір*/
.post-link {
  color: inherit;
}

/*Робота з текстом*/
.title-letter-space {
  font-size: 70px;
  letter-spacing: 10px;
  word-spacing: 55px;
  text-shadow: 10px 10px 2px #61686d, 5px 5px 5px #000000;
}
.text-title {
  text-transform: uppercase;
  text-align: left;
  text-indent: 100px;
  white-space: break-spaces;
}
.text-title > span {
  text-decoration: line-through;
}

.link-title {
  text-decoration: none;
}
pre {
  font-family: "Arial", "Helvetica", sans-serif;
  color: #2a2a2a;
  font-size: 16px;
  text-align: left;
  text-indent: 30px;
}

pre::first-letter {
  font-family: "Tahoma", serif;
  font-size: 32px;
  color: #f44336;
}
pre::selection {
  color: #ffffff;
  background-color: #a6afe2;
}

 /*Блочная модель*/
 .excerpt {
  /* Устанавливает рамку */
  border: 2px solid #2196F3;

  /* Добавляет внутреннее поле */
  padding: 15px;

  /* Устанавливает внешние отступы */
  margin: 20px;

  /*Ширину можно задавать не только в px, em или rem, но и в процентах. В таком случае ширина блока будет рассчитана как процент от ширины родителя. */
  width: 420px;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

.box {
  border: 2px solid #f44336;
  width: 200px;
  height: 300px;
  padding: 20px;
  box-sizing: content-box;
}
.box1 {
  border: 2px solid #f44336;
  width: 200px;
  height: 300px;
  box-sizing: border-box;
  padding: 20px;
  margin: 40px;
}

/* Поле сверху 10px, справа 15px, снизу 20px, слева 25px */
padding: 10px 15px 20px 25px;

/* Задаём поле между рамкой и контентом элемента */

*,
*::before,
*::after {
  box-sizing: border-box;
}

.box2 {
  padding: 20px;
  background-color: #fff;
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

.box3 {
  width: 400px;
  border-radius: 20px;
  /* Установит стили верхней рамки */
  border-top-width: 3px;
  border-top-style: solid;
  border-top-color: blue;

  /* Установит стили правой рамки */
  border-right-width: 5px;
  border-right-style: dotted;
  border-right-color: black;

  /* Установит стили нинжней рамки */
  border-bottom-width: 7px;
  border-bottom-style: dashed;
  border-bottom-color: palevioletred;

  /* Установит стили левой рамки */
  border-left-width: 9px;
  border-left-style: dashed;
  border-left-color: green;
}